body {
    background-color:#A6ABA7;
    font-family:'Noto Sans', sans-serif;
    font-size:18px;
}

.navbar-brand {
    padding: .5em 2em .5em 2em;
    font-family:'Merriweather', serif;
}

.breadcrumbs {
    padding-top:1em;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size:2em;
    padding:1em 0em;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size:1.5em;
    padding:1.5em 0em .5em 0em;
}

table {
    padding:0em 0em 2em 0em;
}

