<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Maryland Water and Science Administration Inspections</h1>
        <p>There are {{ inspection_count }} inspections in the database.</p>
        <ul> {{ most_violations }} </ul>
        <table border=1 cellpadding=7>
            <tr>
                <th>Site ID</th>
                <th>Site Name</th>
                <th>Site Location</th>
                <th>Site County</th>
                <th>Inspection Type</th>
                <th>Inspection Date</th>
                <th>Permit Number</th>
                <th>NPDES Number</th>
                <th>Site Status</th>
                <th>Site Condition</th>
                <th>Recommended Action</th>
            </tr>
            {% for inspection in recent_inspections %}
            <tr>
                <td>{{ inspection.ai_id }}</td>
                <td>{{ inspection.site_name }}</td>
                <td>{{ inspection.city_state_zip }}</td>
                <td>{{ inspection.county }}</td>
                <td>{{ inspection.inspection_type }}</td>
                <td>{{ inspection.fir_inspection_date|iso8601_to_time|datetimeformat('%d %B %Y') }}</td>
                <td>{{ inspection.permit_no }}</td>
                <td>{{ inspection.npdes_no }}</td>
                <td>{{ inspection.site_status }}</td>
                <td>{{ inspection.site_condition }}</td>
                <td>{{ inspection.recommended_actions }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>