<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Maryland Water and Science Administration Inspection Outcomes</h1>
        <p>There are a total of {{ inspection_count }} inspections since 2016 in the database.</p>

        <ul>
            <h2>Cases of Significant Noncompliance by County</h2>
            {% for each in significant_noncompliance %}
            <li><a href="/county/{{ each.county }}">{{ each.county }}</a>: {{ each.count }}</li>
            {% endfor %}
        </ul>
        <ul>
            <h2>Cases of Noncompliance by County</h2>
            {% for each in noncompliance %}
            <li><a href="/county/{{ each.county }}">{{ each.county }}</a>: {{ each.count }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>