<!doctype html>
<html lang="en">

<head>
    <title>WSA Inspection Types</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WSA Inspection Outcomes</a>
    </nav>
    <div class="container">
        <h1>Types of WSA Inspections</h1>
        <p class="lead">Many WSA inspections aim to determine sites' compliance with the terms of their permits through the U.S. Environmental Protection Agency's National Pollutant Discharge Elimination System.</p>
        <p class="lead">Maryland's Department of the Environment is authorized by the EPA to administer the state's NPDES program. As the part of MDE dedicated to protecting water quality, WSA both issues and monitors the various types of NPDES permits.</p>
        
    </div>
</body>


</html>