<!doctype html>
<html>

<head>
    <title>Enforcement Actions: {{ county }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WSA Inspection Outcomes</a>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Inspections: <a href="/county/{{ slug }}">{{ county }}</a></h1>
            <p class="lead">This jurisdiction has {{ inspections_count }} total inspections and {{ actions_count }} total <a href="/county/{{ slug }}/actions">enforcement actions</a>.</p>
            <table border=1 cellpadding=7>
                <h2>Inspections</h2>
                <tr>
                    <th>Site Number</th>
                    <th>Site Name</th>
                    <th>Location</th>
                    <th>Inspection Type</th>
                    <th>Inspection Date</th>
                    <th>Site Status</th>
                    <th>Recommended Actions</th>
                </tr>
                {% for inspection in inspections %}
                <tr>
                    <td>{{ inspection.site_no }}</td>
                    <td>{{ inspection.site_name }}</td>
                    <td>{{ inspection.city_state_zip }}</td>
                    <td>{{ inspection.inspection_type }}</td>
                    <td>{{ inspection.inspection_date }}</td>
                    <td>{{ inspection.site_status }}</td>
                    <td>{{ inspection.recommended_actions }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
</body>
